<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-9f4c0f1" data-id="9f4c0f1" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
  <div class="elementor-widget-wrap elementor-element-populated">
            <div class="elementor-element elementor-element-3666862 elementor-blockquote--skin-border elementor-blockquote--button-color-official elementor-widget elementor-widget-blockquote" data-id="3666862" data-element_type="widget" data-widget_type="blockquote.default">
    <div class="elementor-widget-container">
      <blockquote class="elementor-blockquote">
  <p class="elementor-blockquote__content">
    Discover TSplus			</p>
      </blockquote>
    </div>
    </div>
    <div class="elementor-element elementor-element-ea08f88 elementor-widget elementor-widget-text-editor" data-id="ea08f88" data-element_type="widget" data-widget_type="text-editor.default">
    <div class="elementor-widget-container">
          Simple, Robust and Affordable Remote Access Solutions for IT professionals.						</div>
    </div>
    <div class="elementor-element elementor-element-0ce3e5a elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="0ce3e5a" data-element_type="widget" data-widget_type="icon-list.default">
    <div class="elementor-widget-container">
      <ul class="elementor-icon-list-items">
          <li class="elementor-icon-list-item">
                  <span class="elementor-icon-list-icon">
          <svg aria-hidden="true" class="e-font-icon-svg e-fas-circle" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"></path></svg>						</span>
                <span class="elementor-icon-list-text">TSplus Remote Access</span>
              </li>
            <li class="elementor-icon-list-item">
                  <span class="elementor-icon-list-icon">
          <svg aria-hidden="true" class="e-font-icon-svg e-fas-circle" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"></path></svg>						</span>
                <span class="elementor-icon-list-text">TSplus Remote Support</span>
              </li>
            <li class="elementor-icon-list-item">
                  <span class="elementor-icon-list-icon">
          <svg aria-hidden="true" class="e-font-icon-svg e-fas-circle" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"></path></svg>						</span>
                <span class="elementor-icon-list-text">TSplus Advanced Security</span>
              </li>
            <li class="elementor-icon-list-item">
                  <span class="elementor-icon-list-icon">
          <svg aria-hidden="true" class="e-font-icon-svg e-fas-circle" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"></path></svg>						</span>
                <span class="elementor-icon-list-text">TSplus Server Monitoring</span>
              </li>
        </ul>
    </div>
    </div>
    <div class="elementor-element elementor-element-bdf396b elementor-align-left elementor-widget__width-auto elementor-widget elementor-widget-button" data-id="bdf396b" data-element_type="widget" data-widget_type="button.default">
    <div class="elementor-widget-container">
      <div class="elementor-button-wrapper">
  <a class="elementor-button elementor-button-link elementor-size-sm elementor-animation-grow" href="https://tsplus.net/download/">
        <span class="elementor-button-content-wrapper">
        <span class="elementor-button-text">Download a trial</span>
</span>
      </a>
</div>
    </div>
    </div>
    <div class="elementor-element elementor-element-fd8e789 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="fd8e789" data-element_type="widget" data-widget_type="divider.default">
    <div class="elementor-widget-container">
      <div class="elementor-divider">
  <span class="elementor-divider-separator">
        </span>
</div>
    </div>
    </div>
    <div class="elementor-element elementor-element-e8de215 elementor-blockquote--skin-border elementor-blockquote--button-color-official elementor-widget elementor-widget-blockquote" data-id="e8de215" data-element_type="widget" data-widget_type="blockquote.default">
    <div class="elementor-widget-container">
      <blockquote class="elementor-blockquote">
  <p class="elementor-blockquote__content">
    Need to speak to sales?			</p>
      </blockquote>
    </div>
    </div>
    <div class="elementor-element elementor-element-ca85fdb elementor-widget elementor-widget-text-editor" data-id="ca85fdb" data-element_type="widget" data-widget_type="text-editor.default">
    <div class="elementor-widget-container">
          Contact our regional sales team to get assistance.						</div>
    </div>
    <div class="elementor-element elementor-element-f9144fb elementor-widget elementor-widget-image" data-id="f9144fb" data-element_type="widget" data-widget_type="image.default">
    <div class="elementor-widget-container">
                          <img width="1600" height="1067" src="https://tsplus.net/wp-content/uploads/2022/06/Contact-the-TSplus-Team.jpg" class="attachment-full size-full wp-image-22385" alt="TSplus Global Team" loading="lazy" srcset="https://tsplus.net/wp-content/uploads/2022/06/Contact-the-TSplus-Team.jpg 1600w, https://tsplus.net/wp-content/uploads/2022/06/Contact-the-TSplus-Team-300x200.jpg 300w, https://tsplus.net/wp-content/uploads/2022/06/Contact-the-TSplus-Team-1024x683.jpg 1024w, https://tsplus.net/wp-content/uploads/2022/06/Contact-the-TSplus-Team-768x512.jpg 768w, https://tsplus.net/wp-content/uploads/2022/06/Contact-the-TSplus-Team-1536x1024.jpg 1536w, https://tsplus.net/wp-content/uploads/2022/06/Contact-the-TSplus-Team-18x12.jpg 18w" sizes="(max-width: 1600px) 100vw, 1600px">															</div>
    </div>
    <div class="elementor-element elementor-element-92c1b14 elementor-align-left elementor-widget__width-auto elementor-widget elementor-widget-button" data-id="92c1b14" data-element_type="widget" data-widget_type="button.default">
    <div class="elementor-widget-container">
      <div class="elementor-button-wrapper">
  <a class="elementor-button elementor-button-link elementor-size-sm elementor-animation-grow" href="https://tsplus.net/contact/">
        <span class="elementor-button-content-wrapper">
        <span class="elementor-button-text">Contact sales</span>
</span>
      </a>
</div>
    </div>
    </div>
    <div class="elementor-element elementor-element-d28aeb7 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="d28aeb7" data-element_type="widget" data-widget_type="divider.default">
    <div class="elementor-widget-container">
      <div class="elementor-divider">
  <span class="elementor-divider-separator">
        </span>
</div>
    </div>
    </div>
    <div class="elementor-element elementor-element-e3a13e1 elementor-blockquote--skin-border elementor-blockquote--button-color-official elementor-widget elementor-widget-blockquote" data-id="e3a13e1" data-element_type="widget" data-widget_type="blockquote.default">
    <div class="elementor-widget-container">
      <blockquote class="elementor-blockquote">
  <p class="elementor-blockquote__content">
    Most recent articles			</p>
      </blockquote>
    </div>
    </div>
    <div class="elementor-element elementor-element-5ed1cda elementor-grid-1 elementor-posts--thumbnail-left elementor-posts--align-left ignore-toc elementor-grid-tablet-2 elementor-grid-mobile-1 elementor-widget elementor-widget-posts" data-id="5ed1cda" data-element_type="widget" data-settings="{&quot;classic_columns&quot;:&quot;1&quot;,&quot;classic_row_gap&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:40,&quot;sizes&quot;:[]},&quot;classic_columns_tablet&quot;:&quot;2&quot;,&quot;classic_columns_mobile&quot;:&quot;1&quot;,&quot;classic_row_gap_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;classic_row_gap_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]}}" data-widget_type="posts.classic">
    <div class="elementor-widget-container">
      <div class="elementor-posts-container elementor-posts elementor-posts--skin-classic elementor-grid elementor-has-item-ratio">
    <article class="elementor-post elementor-grid-item post-35504 post type-post status-publish format-standard has-post-thumbnail hentry category-remote-support category-uncategorized tag-cross-platform-remote-support tag-mac-os-compatibility tag-mac-os-remote-support tag-news tag-remote-support tag-remote-support-for-mac">
    <a class="elementor-post__thumbnail__link" href="https://tsplus.net/tsplus-announces-groundbreaking-macos-compatibility-for-remote-support/" tabindex="-1">
  <div class="elementor-post__thumbnail elementor-fit-height"><img width="2048" height="1152" src="https://tsplus.net/wp-content/uploads/2023/11/RS-blog-banner-scaled.jpg" class="attachment-full size-full wp-image-35521" alt="TSplus blog banner titled &quot; Remote Support Now Available with Mac OS Devices&quot;" loading="lazy"></div>
</a>
    <div class="elementor-post__text">
    <span class="elementor-post__title">
  <a href="https://tsplus.net/tsplus-announces-groundbreaking-macos-compatibility-for-remote-support/">
    TSplus Announces Groundbreaking MacOS Compatibility for Remote Support			</a>
</span>
    <div class="elementor-post__meta-data">
      <span class="elementor-post-date">
  November 1, 2023		</span>
    </div>
    </div>
    </article>
    <article class="elementor-post elementor-grid-item post-35277 post type-post status-publish format-standard hentry category-remote-access tag-blog tag-remote-access tag-remote-access-blog tag-remote-access-pricing tag-remote-access-setup tag-remote-access-software tag-remote-access-solution tag-remote-access-solutions">
    <div class="elementor-post__text">
    <span class="elementor-post__title">
  <a href="https://tsplus.net/a-digest-of-the-best-remote-access-software-in-2023/">
    A Digest of the Best Remote Access Software in 2023			</a>
</span>
    <div class="elementor-post__meta-data">
      <span class="elementor-post-date">
  October 31, 2023		</span>
    </div>
    </div>
    </article>
    <article class="elementor-post elementor-grid-item post-34766 post type-post status-publish format-standard has-post-thumbnail hentry category-remote-access tag-cyber-security tag-cybersecurity tag-news tag-partnership tag-remote-access tag-remote-access-security tag-remote-connections-security tag-software-embedding tag-software-integration tag-thin-client">
    <a class="elementor-post__thumbnail__link" href="https://tsplus.net/tsplus-and-kaspersky-forge-groundbreaking-partnership-to-enhance-remote-access-security/" tabindex="-1">
  <div class="elementor-post__thumbnail elementor-fit-height"><img width="1120" height="630" src="https://tsplus.net/wp-content/uploads/2023/10/Partnership-for-Remote-Access-Security-TSplus-Kaspersky-e1697464291898.png" class="attachment-full size-full wp-image-35033" alt="Banner for article &quot;TSplus and Kaspersky Forge Groundbreaking Partnership to Enhance Remote Access Security&quot;. Shortened article title (Remote Access Security Partnership) illustrated by TSplus and Kaspersky logos and a picture of two hands in a firm handshake." loading="lazy"></div>
</a>
    <div class="elementor-post__text">
    <span class="elementor-post__title">
  <a href="https://tsplus.net/tsplus-and-kaspersky-forge-groundbreaking-partnership-to-enhance-remote-access-security/">
    TSplus and Kaspersky Forge Groundbreaking Partnership to Enhance Remote Access Security			</a>
</span>
    <div class="elementor-post__meta-data">
      <span class="elementor-post-date">
  October 16, 2023		</span>
    </div>
    </div>
    </article>
    <article class="elementor-post elementor-grid-item post-33980 post type-post status-publish format-standard has-post-thumbnail hentry category-advanced-security tag-advanced-security tag-advanced-security-blog tag-blog tag-cyber-security tag-cybersecurity tag-it-security tag-it-services tag-it-specialists tag-rds-servers tag-secure-remote-access tag-tsplus">
    <a class="elementor-post__thumbnail__link" href="https://tsplus.net/best-remote-access-security-software/" tabindex="-1">
  <div class="elementor-post__thumbnail elementor-fit-height"><img width="1120" height="630" src="https://tsplus.net/wp-content/uploads/2023/08/Best-Remote-Access-Security-Software.png" class="attachment-full size-full wp-image-34068" alt="Title of article &quot;Best Remote Access Security Software&quot;, TSplus logo and link, illustrated by a picture of a locked padlock with a curtain of IT symbols." loading="lazy"></div>
</a>
    <div class="elementor-post__text">
    <span class="elementor-post__title">
  <a href="https://tsplus.net/best-remote-access-security-software/">
    Best Remote Access Security Software			</a>
</span>
    <div class="elementor-post__meta-data">
      <span class="elementor-post-date">
  August 21, 2023		</span>
    </div>
    </div>
    </article>
    </div>

    </div>
    </div>
    <div class="elementor-element elementor-element-5c62bd4 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="5c62bd4" data-element_type="widget" data-widget_type="divider.default">
    <div class="elementor-widget-container">
      <div class="elementor-divider">
  <span class="elementor-divider-separator">
        </span>
</div>
    </div>
    </div>
    <div class="elementor-element elementor-element-bd3395f elementor-blockquote--skin-border elementor-blockquote--button-color-official elementor-widget elementor-widget-blockquote" data-id="bd3395f" data-element_type="widget" data-widget_type="blockquote.default">
    <div class="elementor-widget-container">
      <blockquote class="elementor-blockquote">
  <p class="elementor-blockquote__content">
    Join over 500,000 Businesses			</p>
      </blockquote>
    </div>
    </div>
    <div class="elementor-element elementor-element-30af2ab elementor-widget elementor-widget-text-editor" data-id="30af2ab" data-element_type="widget" data-widget_type="text-editor.default">
    <div class="elementor-widget-container">
          We are rated <span style="color: #FF9C4B;"><b>Excellent</b></span>						</div>
    </div>
    <div class="elementor-element elementor-element-3b44b16 elementor-widget-mobile__width-inherit elementor-widget elementor-widget-image" data-id="3b44b16" data-element_type="widget" data-widget_type="image.default">
    <div class="elementor-widget-container">
                          <img width="800" height="800" src="https://tsplus.net/wp-content/uploads/2021/10/five-stars-icon.svg" class="attachment-large size-large wp-image-11492" alt="five stars green icon" loading="lazy" srcset="https://tsplus.net/wp-content/uploads//2021/10/five-stars-icon.svg 150w, https://tsplus.net/wp-content/uploads//2021/10/five-stars-icon.svg 300w, https://tsplus.net/wp-content/uploads//2021/10/five-stars-icon.svg 1024w, https://tsplus.net/wp-content/uploads//2021/10/five-stars-icon.svg 1536w, https://tsplus.net/wp-content/uploads//2021/10/five-stars-icon.svg 2048w" sizes="(max-width: 800px) 100vw, 800px">															</div>
    </div>
    <div class="elementor-element elementor-element-8e64a90 elementor-widget elementor-widget-text-editor" data-id="8e64a90" data-element_type="widget" data-widget_type="text-editor.default">
    <div class="elementor-widget-container">
          4.8 out of 5						</div>
    </div>
    <div class="elementor-element elementor-element-4f23f2c elementor-widget elementor-widget-wp-widget-brb_widget" data-id="4f23f2c" data-element_type="widget" data-widget_type="wp-widget-brb_widget.default">
    <div class="elementor-widget-container">
          <div class="rplg" itemscope="" itemtype="http://schema.org/LocalBusiness" style="" data-id="10312"><div class="rplg-list2"><div class="rplg-businesses"><span itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress"><meta itemprop="streetAddress" content="300 Spectrum Center"><meta itemprop="addressLocality" content="Irvine"><meta itemprop="addressRegion" content="CA"><meta itemprop="postalCode" content="92618"><meta itemprop="addressCountry" content="United States"></span><meta itemprop="priceRange" content=""><meta itemprop="telephone" content=""><div class="rplg-box"><div class="rplg-row"><div class="rplg-row-left"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="https://lh3.googleusercontent.com/a-/AOh14Gg5326XGlZENQKHvGC_ftW7AmTAPA3L3WmTwEkm=s132" class="rplg-review-avatar rplg-blazy" alt="TSplus" width="56" height="56" title="TSplus" onerror="if(this.src!='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7')this.src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7';"><meta itemprop="image" content="https://lh3.googleusercontent.com/a-/AOh14Gg5326XGlZENQKHvGC_ftW7AmTAPA3L3WmTwEkm=s132" name="TSplus"></div><div class="rplg-row-right"><div class="rplg-biz-name rplg-trim"><a href="https://tsplus.net/" class="" target="_blank" rel="noopener"><span itemprop="name">TSplus</span></a></div><div itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating"><div class="rplg-biz-rating rplg-trim rplg-biz-google"><div class="rplg-biz-score" itemprop="ratingValue">4.8</div><div class="rplg-stars" data-info="4.8,google,#0caa41"><svg viewBox="0 0 1792 1792" width="17" height="17"><use xlink:href="#star" fill="#e7711b"></use></svg><svg viewBox="0 0 1792 1792" width="17" height="17"><use xlink:href="#star" fill="#e7711b"></use></svg><svg viewBox="0 0 1792 1792" width="17" height="17"><use xlink:href="#star" fill="#e7711b"></use></svg><svg viewBox="0 0 1792 1792" width="17" height="17"><use xlink:href="#star" fill="#e7711b"></use></svg><svg viewBox="0 0 1792 1792" width="17" height="17"><use xlink:href="#star" fill="#e7711b"></use></svg></div></div><div class="rplg-biz-based rplg-trim"><span class="rplg-biz-based-text">Based on <span itemprop="ratingCount">113</span> reviews</span><meta itemprop="bestRating" content="5"></div></div><div class="rplg-links"><a href="https://tsplus.net/" target="_blank" rel="noopener" onclick="return true;">See all reviews</a></div></div><span class="rplg-review-badge" data-badge="google"><span class="rplg-social-logo rplg-google-logo"><svg viewBox="0 0 512 512" width="44" height="44"><use xlink:href="#logo-g"></use></svg></span></span></div></div></div><div class="rplg-reviews"><div class="rplg-box"><div class="rplg-row"><div class="rplg-row-right"><div class="rplg-review-name rplg-trim" title="Helgard S.">Helgard S.</div><div class="rplg-review-time rplg-trim" data-time="1657090449">environ un an</div></div></div><div class="rplg-box-content"><div class="rplg-stars" data-info="5,google,#777"><svg viewBox="0 0 1792 1792" width="17" height="17"><use xlink:href="#star" fill="#e7711b"></use></svg><svg viewBox="0 0 1792 1792" width="17" height="17"><use xlink:href="#star" fill="#e7711b"></use></svg><svg viewBox="0 0 1792 1792" width="17" height="17"><use xlink:href="#star" fill="#e7711b"></use></svg><svg viewBox="0 0 1792 1792" width="17" height="17"><use xlink:href="#star" fill="#e7711b"></use></svg><svg viewBox="0 0 1792 1792" width="17" height="17"><use xlink:href="#star" fill="#e7711b"></use></svg></div><span class="rplg-review-text">Support from TSPlus is always prompt and helpful. I strongly  recommend the product and the support people.</span><span class="rplg-review-badge" data-badge="google"><span class="rplg-social-logo rplg-google-logo"><svg viewBox="0 0 512 512" width="44" height="44"><use xlink:href="#logo-g"></use></svg></span></span></div></div><div class="rplg-box"><div class="rplg-row"><div class="rplg-row-right"><div class="rplg-review-name rplg-trim" title="Jared E.">Jared E.</div><div class="rplg-review-time rplg-trim" data-time="1654874347">environ un an</div></div></div><div class="rplg-box-content"><div class="rplg-stars" data-info="5,google,#777"><svg viewBox="0 0 1792 1792" width="17" height="17"><use xlink:href="#star" fill="#e7711b"></use></svg><svg viewBox="0 0 1792 1792" width="17" height="17"><use xlink:href="#star" fill="#e7711b"></use></svg><svg viewBox="0 0 1792 1792" width="17" height="17"><use xlink:href="#star" fill="#e7711b"></use></svg><svg viewBox="0 0 1792 1792" width="17" height="17"><use xlink:href="#star" fill="#e7711b"></use></svg><svg viewBox="0 0 1792 1792" width="17" height="17"><use xlink:href="#star" fill="#e7711b"></use></svg></div><span class="rplg-review-text">Great product for connecting multiple users to a Windows server. Much less expensive than purchasing Windows Server Licenses.</span><span class="rplg-review-badge" data-badge="google"><span class="rplg-social-logo rplg-google-logo"><svg viewBox="0 0 512 512" width="44" height="44"><use xlink:href="#logo-g"></use></svg></span></span></div></div><div class="rplg-box"><div class="rplg-row"><div class="rplg-row-right"><div class="rplg-review-name rplg-trim" title="JOEL (Joel Dominic D A.">JOEL (Joel Dominic D A.</div><div class="rplg-review-time rplg-trim" data-time="1654777326">environ un an</div></div></div><div class="rplg-box-content"><div class="rplg-stars" data-info="5,google,#777"><svg viewBox="0 0 1792 1792" width="17" height="17"><use xlink:href="#star" fill="#e7711b"></use></svg><svg viewBox="0 0 1792 1792" width="17" height="17"><use xlink:href="#star" fill="#e7711b"></use></svg><svg viewBox="0 0 1792 1792" width="17" height="17"><use xlink:href="#star" fill="#e7711b"></use></svg><svg viewBox="0 0 1792 1792" width="17" height="17"><use xlink:href="#star" fill="#e7711b"></use></svg><svg viewBox="0 0 1792 1792" width="17" height="17"><use xlink:href="#star" fill="#e7711b"></use></svg></div><span class="rplg-review-text">Best low cost solution for remote access to your windows apps.</span><span class="rplg-review-badge" data-badge="google"><span class="rplg-social-logo rplg-google-logo"><svg viewBox="0 0 512 512" width="44" height="44"><use xlink:href="#logo-g"></use></svg></span></span></div></div><div class="rplg-box"><div class="rplg-row"><div class="rplg-row-right"><div class="rplg-review-name rplg-trim" title="Vinal Singh H.">Vinal Singh H.</div><div class="rplg-review-time rplg-trim" data-time="1654519136">environ un an</div></div></div><div class="rplg-box-content"><div class="rplg-stars" data-info="4,google,#777"><svg viewBox="0 0 1792 1792" width="17" height="17"><use xlink:href="#star" fill="#e7711b"></use></svg><svg viewBox="0 0 1792 1792" width="17" height="17"><use xlink:href="#star" fill="#e7711b"></use></svg><svg viewBox="0 0 1792 1792" width="17" height="17"><use xlink:href="#star" fill="#e7711b"></use></svg><svg viewBox="0 0 1792 1792" width="17" height="17"><use xlink:href="#star" fill="#e7711b"></use></svg><svg viewBox="0 0 1792 1792" width="17" height="17"><use xlink:href="#star-o"></use></svg></div><span class="rplg-review-text">Recently we had an issue with universal printing and i must say that TSPLUS team has resolved the issue in a timely manner. I was also pleasantly surprised by TSPLUS team member doing a remote login<span>... </span><span class="rplg-more"> to assist with my issue as i wasn't sure what to expect when we purchased their product. So far I am pleased with their support and in the very near future we are planning on buying another TSPLUS subscription.</span><span class="rplg-more-toggle">read more</span></span><span class="rplg-review-badge" data-badge="google"><span class="rplg-social-logo rplg-google-logo"><svg viewBox="0 0 512 512" width="44" height="44"><use xlink:href="#logo-g"></use></svg></span></span></div></div><div class="rplg-box"><div class="rplg-row"><div class="rplg-row-right"><div class="rplg-review-name rplg-trim" title="sun G.">sun G.</div><div class="rplg-review-time rplg-trim" data-time="1651564578">environ un an</div></div></div><div class="rplg-box-content"><div class="rplg-stars" data-info="5,google,#777"><svg viewBox="0 0 1792 1792" width="17" height="17"><use xlink:href="#star" fill="#e7711b"></use></svg><svg viewBox="0 0 1792 1792" width="17" height="17"><use xlink:href="#star" fill="#e7711b"></use></svg><svg viewBox="0 0 1792 1792" width="17" height="17"><use xlink:href="#star" fill="#e7711b"></use></svg><svg viewBox="0 0 1792 1792" width="17" height="17"><use xlink:href="#star" fill="#e7711b"></use></svg><svg viewBox="0 0 1792 1792" width="17" height="17"><use xlink:href="#star" fill="#e7711b"></use></svg></div><span class="rplg-review-text">Your product and your support team are excellent. It helps a lot, I appreciate it.</span><span class="rplg-review-badge" data-badge="google"><span class="rplg-social-logo rplg-google-logo"><svg viewBox="0 0 512 512" width="44" height="44"><use xlink:href="#logo-g"></use></svg></span></span></div></div><div class="rplg-box"><div class="rplg-row"><div class="rplg-row-right"><div class="rplg-review-name rplg-trim" title="Eugen T.">Eugen T.</div><div class="rplg-review-time rplg-trim" data-time="1651149359">environ un an</div></div></div><div class="rplg-box-content"><div class="rplg-stars" data-info="5,google,#777"><svg viewBox="0 0 1792 1792" width="17" height="17"><use xlink:href="#star" fill="#e7711b"></use></svg><svg viewBox="0 0 1792 1792" width="17" height="17"><use xlink:href="#star" fill="#e7711b"></use></svg><svg viewBox="0 0 1792 1792" width="17" height="17"><use xlink:href="#star" fill="#e7711b"></use></svg><svg viewBox="0 0 1792 1792" width="17" height="17"><use xlink:href="#star" fill="#e7711b"></use></svg><svg viewBox="0 0 1792 1792" width="17" height="17"><use xlink:href="#star" fill="#e7711b"></use></svg></div><span class="rplg-review-text">TSplus support does a very good job. They always help me if I need it.</span><span class="rplg-review-badge" data-badge="google"><span class="rplg-social-logo rplg-google-logo"><svg viewBox="0 0 512 512" width="44" height="44"><use xlink:href="#logo-g"></use></svg></span></span></div></div></div></div><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="" onload="(function(el, data) { var t = setInterval(function () { if (window.rplg_init_list_theme){ rplg_init_list_theme(el, data); clearInterval(t); } }, 200); })(this.parentNode);" data-exec="true" style="display:none"></div>        		</div>
    </div>
      </div>
</div>