<footer class="div-block-50">
    <div class="container-default large w-container">
      <div class="w-embed"><span data-fsc-order-taxrate="" style="display: none"></span>
        <span data-fsc-order-taxtype="" style="display: none"></span>
      </div>
      <div class="div-block-5">
        <div class="w-row">
          <div class="w-col w-col-4">
            <div class="div-block-4">
              <a href="https://tsplus.net/" class="footer-logo-container w-inline-block"><img src="/images/tsplus-logo-square-gray-gradient.svg" loading="lazy" alt="tsplus official logo"></a>
              <div class="text-block-2 footer new">The complete remote access software suite trusted by over 500,000 companies.</div>
              <a rel="nofollow noopener" href="#" class="nav-link-3 over phone footer ts-phone-link w-inline-block">
                <div class="phone-icon footer w-embed"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                    <path fill-rule="evenodd" d="M1.5 4.5a3 3 0 013-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 01-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 006.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 011.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 01-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5z" clip-rule="evenodd"></path>
                  </svg></div>
                <p class="ts-phone-number footer">+XX XX XX XX XX</p>
              </a>
              <div class="div-block-2 footer">
                <a rel="nofollow noopener" href="https://www.facebook.com/TSplusSoftware/" target="_blank" class="w-inline-block">
                  <div class="html-embed social-icons-footer w-embed"><svg fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                      <path fill-rule="evenodd" d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z" clip-rule="evenodd"></path>
                    </svg></div>
                </a>
                <a rel="nofollow noopener" href="https://twitter.com/TSplusSoftware" target="_blank" class="w-inline-block">
                  <div class="html-embed social-icons-footer w-embed"><svg fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                      <path d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84"></path>
                    </svg></div>
                </a>
                <a rel="nofollow noopener" href="https://www.youtube.com/channel/UCE-_KnkqtPVyxfAsY6GGviA" target="_blank" class="w-inline-block">
                  <div class="html-embed social-icons-footer w-embed"><svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                      <path d="M23.5,6.2c-0.3-1-1.1-1.8-2.1-2.1C19.5,3.6,12,3.6,12,3.6s-7.5,0-9.4,0.5c-1,0.3-1.8,1.1-2.1,2.1
	C0,8.1,0,12,0,12s0,3.9,0.5,5.8c0.3,1,1.1,1.8,2.1,2.1c1.9,0.5,9.4,0.5,9.4,0.5s7.5,0,9.4-0.5c1-0.3,1.8-1.1,2.1-2.1
	C24,15.9,24,12,24,12S24,8.1,23.5,6.2z M9.6,15.6V8.4l6.2,3.6L9.6,15.6z"></path>
                    </svg></div>
                </a>
                <a rel="nofollow noopener" href="https://fr.linkedin.com/company/tsplusgroup" target="_blank" class="w-inline-block">
                  <div class="html-embed social-icons-footer w-embed"><svg fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                      <path d="M22.3,0H1.7C0.8,0,0,0.8,0,1.7v20.5c0,1,0.8,1.7,1.7,1.7h20.6c0.9,0,1.7-0.8,1.7-1.7V1.7C24,0.8,23.2,0,22.3,0z M7.3,20.6
	H3.7V9.1h3.6L7.3,20.6L7.3,20.6z M5.5,7.6c-1.1,0-2.1-0.9-2.1-2.1s0.9-2.1,2.1-2.1c1.1,0,2.1,0.9,2.1,2.1C7.5,6.6,6.6,7.6,5.5,7.6z
	 M20.6,20.6H17V15c0-1.3,0-3-1.8-3c-1.9,0-2.1,1.4-2.1,2.9v5.7H9.5V9.1h3.4v1.6h0c0.5-0.9,1.6-1.8,3.4-1.8c3.6,0,4.3,2.4,4.3,5.5
	V20.6z"></path>
                    </svg></div>
                </a>
              </div>
              <a href="https://tsplus.net/download/" class="button-primary sign-up-header footer w-button">Download</a>
            </div>
          </div>
          <div class="column w-col w-col-8">
            <div class="columns w-row">
              <div class="column-2 w-col w-col-7">
                <h3 class="heading-2 full-left">PRODUCTS</h3>
                <ul role="list" class="list w-list-unstyled">
                  <li class="list-item-9">
                    <a href="https://tsplus.net/remote-access/" class="link-2">Remote Access</a>
                  </li>
                  <li class="list-item-9">
                    <a href="https://tsplus.net/remote-support/" class="link-2">Remote Support</a>
                  </li>
                  <li class="list-item-9">
                    <a href="https://tsplus.net/advanced-security/" class="link-2">Advanced Security</a>
                  </li>
                  <li class="list-item-9">
                    <a href="https://tsplus.net/server-monitoring/" class="link-2">Server Monitoring</a>
                  </li>
                </ul>
              </div>
              <div class="column-3 w-col w-col-5">
                <a href="https://tsplus.net/" class="link-block-2 w-inline-block">
                  <h3 class="heading-2 full-left">TSPLUS</h3>
                </a>
                <ul role="list" class="w-list-unstyled">
                  <li class="list-item-9">
                    <a href="https://tsplus.net/pricing/" class="link-2">Pricing</a>
                  </li>
                  <li class="list-item-9">
                    <a href="https://tsplus.net/about-us/" class="link-2">About TSplus</a>
                  </li>
                  <li class="list-item-9">
                    <a href="https://tsplus.net/store/" class="link-2">Manage licenses</a>
                  </li>
                  <li class="list-item-9">
                    <a href="https://tsplus.net/contact/" class="link-2">Contact</a>
                  </li>
                  <li class="list-item-9">
                    <a rel="noopener" href="https://support.tsplus.net/" target="_blank" class="link-2">Support Center</a>
                  </li>
                  <li class="list-item-9">
                    <a href="https://tsplus.net/partner-program/" class="link-2">Partner</a>
                  </li>
                  <li class="list-item-9">
                    <a href="https://tsplus.net/videos/" class="link-2">Videos</a>
                  </li>
                  <li class="list-item-9">
                    <a rel="nofollow" href="https://tsplus.net/references/" class="link-2">References</a>
                  </li>
                  <li class="list-item-9">
                    <a rel="nofollow" href="https://tsplus.net/flyers-and-presentations/" class="link-2">Useful Documents</a>
                  </li>
                  <li class="list-item-9">
                    <a href="https://tsplus.net/changelogs" class="link-2">Changelogs</a>
                  </li>
                  <li class="list-item-9">
                    <a rel="noopener" href="https://docs.terminalserviceplus.com/" target="_blank" class="link-2">Documentation</a>
                  </li>
                  <li class="list-item-9">
                    <a rel="noopener" href="https://docs.terminalserviceplus.com/" target="_blank" class="link-2">FAQ</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="columns w-row">
              <div class="column-4 w-col w-col-6">
                <h3 class="heading-2 full-left">COMPARE TSPLUS</h3>
                <ul role="list" class="list-2 w-list-unstyled">
                  <li class="list-item-9">
                    <a href="https://tsplus.net/best-citrix-alternative/" class="link-2">TSplus vs Citrix</a>
                  </li>
                  <li class="list-item-9">
                    <a href="https://tsplus.net/alternative-to-anydesk/" class="link-2">TSplus vs AnyDesk</a>
                  </li>
                  <li class="list-item-9">
                    <a href="https://tsplus.net/affordable-secure-rdp-alternative/" class="link-2">TSplus vs RDS</a>
                  </li>
                  <li class="list-item-9">
                    <a href="https://tsplus.net/best-teamviewer-alternative/" class="link-2">TSplus vs TeamViewer</a>
                  </li>
                  <li class="list-item-9">
                    <a href="https://tsplus.net/the-best-alternative-to-logmein/" class="link-2">TSplus vs LogMeIn</a>
                  </li>
                  <li class="list-item-9">
                    <a href="https://tsplus.net/remote-support/blog/alternative-to-zoho-assist/" class="link-2">TSplus vs Zoho Assist</a>
                  </li>
                </ul>
              </div>
              <div class="column-5 w-col w-col-6">
                <h3 class="heading-2 full-left">SOLUTIONS</h3>
                <ul role="list" class="w-list-unstyled">
                  <li class="list-item-9">
                    <a href="https://tsplus.net/affordable-remote-support-software/" class="link-2">Affordable Remote Support Software</a>
                  </li>
                  <li class="list-item-9">
                    <a href="https://tsplus.net/virtual-printer/" class="link-2">Virtual Printer for Remote Desktop Software</a>
                  </li>
                  <li class="list-item-9">
                    <a href="https://tsplus.net/two-factor-authentication/" class="link-2">Remote Desktop Two-Factor Authentication</a>
                  </li>
                  <li class="list-item-9">
                    <a href="https://tsplus.net/how-to-publish-windows-software-to-the-web/" class="link-2">How to Publish Windows Apps to the Web</a>
                  </li>
                  <li class="list-item-9">
                    <a href="https://tsplus.net/rdp-and-html5-remote-access-for-iphone-and-ipad/" class="link-2">HTML5 Remote Access for iPhone and iPad</a>
                  </li>
                  <li class="list-item-9">
                    <a href="https://tsplus.net/remote-access-security-software/" class="link-2">Best Remote Access Security Software</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-embed w-script">
        <script>
            // https://stackoverflow.com/questions/3489460/how-to-get-visitors-location-i-e-country-using-geolocation
            // https://codepen.io/diego-fortes/pen/YzEPxYw
            const timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
            const tsPhoneNumber = document.getElementsByClassName("ts-phone-number");
            const tsPhoneLink = document.getElementsByClassName("ts-phone-link");
            const tsYesPhone = document.getElementsByClassName("tsyesphone");
            const tsNoPhone = document.getElementsByClassName("tsnophone");
            if (timezone === "" || !timezone) {
              for (i = 1; i < tsPhoneNumber.length; i++) {
                tsPhoneLink[i].style.display = "none";
              }
              tsPhoneLink[0].style.visibility = "hidden";
              tsYesPhone[0].style.display = "none";
              tsNoPhone[0].style.display = "block";
            } else if (
              timezone.endsWith("London") ||
              timezone.endsWith("Belfast") ||
              timezone.endsWith("Guernsey") ||
              timezone.endsWith("Jersey") ||
              timezone.endsWith("Isle_of_Man") ||
              timezone.endsWith("GB")) {
              for (i = 0; i < tsPhoneNumber.length; i++) {
                tsPhoneNumber[i].textContent = "+44 20 3868 4841";
                tsPhoneLink[i].href = "tel:+44 20 3868 4841";
              }
            } else if (
              timezone.endsWith("Paris") ||
              timezone.endsWith("Reunion") ||
              timezone.endsWith("Martinique") ||
              timezone.endsWith("Guadeloupe") ||
              timezone.endsWith("Gambier") ||
              timezone.endsWith("Noumea") ||
              timezone.endsWith("Mayotte") ||
              timezone.endsWith("Tahiti") ||
              timezone.endsWith("Wallis") ||
              timezone.endsWith("Guyana")) {
              for (i = 0; i < tsPhoneNumber.length; i++) {
                tsPhoneNumber[i].textContent = "+33 4 13 68 74 91";
                tsPhoneLink[i].href = "tel:+33 4 13 68 74 91";
              }
            } else if (
              timezone == "CET" ||
              timezone == "UTC" ||
              timezone == "UCT" ||
              timezone == "CEST" ||
              timezone == "EET" ||
              timezone == "Etc/GMT+1" ||
              timezone == "GMT" ||
              timezone == "GMT+0" ||
              timezone == "GMT-0" ||
              timezone == "GMT0" ||
              timezone == "Etc/GMT" ||
              timezone == "Etc/GMT+0" ||
              timezone == "Etc/GMT-0" ||
              timezone == "Etc/GMT0" ||
              timezone == "Etc/Greenwich" ||
              timezone == "Etc/UCT" ||
              timezone == "Etc/UTC" ||
              timezone == "Etc/Universal" ||
              timezone == "Etc/Zulu" ||
              timezone == "MET" ||
              timezone == "WET" ||
              timezone == "Universal" ||
              timezone == "Greenwich" ||
              timezone == "Zulu" ||
              timezone.endsWith("Azores") ||
              timezone.endsWith("Canary") ||
              timezone.endsWith("Cape_Verde") ||
              timezone.endsWith("Faeroe") ||
              timezone.endsWith("Faroe") ||
              timezone.endsWith("Madeira") ||
              timezone.endsWith("Reykjavik") ||
              timezone.startsWith("Iceland") ||
              (timezone.startsWith("Europe") &&
                !timezone.endsWith("Istanbul") &&
                !timezone.endsWith("Berlin") &&
                !timezone.endsWith("Busingen"))) {
              for (i = 0; i < tsPhoneNumber.length; i++) {
                tsPhoneNumber[i].textContent = "+420 245 501 683";
                tsPhoneLink[i].href = "tel:+420 245 501 683";
              }
            } else if (
              timezone.startsWith("US") ||
              timezone.startsWith("Canada") ||
              timezone == "Etc/GMT-9" ||
              timezone == "Etc/GMT-8" ||
              timezone == "Etc/GMT-7" ||
              timezone == "Etc/GMT-5" ||
              timezone == "HST" ||
              timezone == "HST" ||
              timezone == "EST" ||
              timezone == "MST" ||
              timezone == "EST5EDT" ||
              timezone == "CST6CDT" ||
              timezone == "MST7MDT" ||
              timezone == "PST8PDT" ||
              (timezone.startsWith("America") &&
                !timezone.startsWith("America/Argentina") &&
                !timezone.endsWith("Anguilla") &&
                !timezone.endsWith("Antigua") &&
                !timezone.endsWith("Asuncion") &&
                !timezone.endsWith("Barbados") &&
                !timezone.endsWith("Belize") &&
                !timezone.endsWith("Bogota") &&
                !timezone.endsWith("Buenos_Aires") &&
                !timezone.endsWith("Caracas") &&
                !timezone.endsWith("Catamarca") &&
                !timezone.endsWith("Cayenne") &&
                !timezone.endsWith("Panama") &&
                !timezone.endsWith("Paramaribo") &&
                !timezone.endsWith("Port-au-Prince") &&
                !timezone.endsWith("Port_of_Spain") &&
                !timezone.endsWith("Porto_Acre") &&
                !timezone.endsWith("Rosario") &&
                !timezone.endsWith("Santo_Domingo") &&
                !timezone.endsWith("St_Barthelemy") &&
                !timezone.endsWith("St_Lucia") &&
                !timezone.endsWith("St_Thomas") &&
                !timezone.endsWith("St_Vincent") &&
                !timezone.endsWith("Tegucigalpa") &&
                !timezone.endsWith("Tortola") &&
                !timezone.endsWith("Virgin") &&
                !timezone.endsWith("Coral_Harbour") &&
                !timezone.endsWith("Cordoba") &&
                !timezone.endsWith("Costa_Rica") &&
                !timezone.endsWith("Curacao") &&
                !timezone.endsWith("Dominica") &&
                !timezone.endsWith("El_Salvador") &&
                !timezone.endsWith("Ensenada") &&
                !timezone.endsWith("Grenada") &&
                !timezone.endsWith("Guadeloupe") &&
                !timezone.endsWith("Guatemala") &&
                !timezone.endsWith("Guayaquil") &&
                !timezone.endsWith("Jamaica") &&
                !timezone.endsWith("Jujuy") &&
                !timezone.endsWith("La_Paz") &&
                !timezone.endsWith("Lima") &&
                !timezone.endsWith("Managua") &&
                !timezone.endsWith("Marigot") &&
                !timezone.endsWith("Martinique") &&
                !timezone.endsWith("Mendoza") &&
                !timezone.endsWith("Miquelon") &&
                !timezone.endsWith("Montevideo") &&
                !timezone.endsWith("Montserrat") &&
                !timezone.endsWith("Nassau") &&
                !timezone.endsWith("Cayman") &&
                !timezone.endsWith("Bahia_Banderas") &&
                !timezone.endsWith("Cancun") &&
                !timezone.endsWith("Chihuahua") &&
                !timezone.endsWith("Hermosillo") &&
                !timezone.endsWith("Matamoros") &&
                !timezone.endsWith("Mazatlan") &&
                !timezone.endsWith("Merida") &&
                !timezone.endsWith("Mexico_City") &&
                !timezone.endsWith("Monterrey") &&
                !timezone.endsWith("Ojinaga") &&
                !timezone.endsWith("Tijuana") &&
                !timezone.endsWith("Araguaina") &&
                !timezone.endsWith("Bahia") &&
                !timezone.endsWith("Belem") &&
                !timezone.endsWith("Boa_Vista") &&
                !timezone.endsWith("Campo_Grande") &&
                !timezone.endsWith("Cuiaba") &&
                !timezone.endsWith("Eirunepe") &&
                !timezone.endsWith("Fortaleza") &&
                !timezone.endsWith("Maceio") &&
                !timezone.endsWith("Manaus") &&
                !timezone.endsWith("Noronha") &&
                !timezone.endsWith("Porto_Velho") &&
                !timezone.endsWith("Recife") &&
                !timezone.endsWith("Rio_Branco") &&
                !timezone.endsWith("Santarem") &&
                !timezone.endsWith("Sao_Paulo") &&
                !timezone.endsWith("Aruba") &&
                !timezone.endsWith("Havana") &&
                !timezone.endsWith("Punta_Arenas") &&
                !timezone.endsWith("Santiago") &&
                !timezone.endsWith("Santa_Isabel") &&
                !timezone.endsWith("Puerto_Rico"))) {
              for (i = 0; i < tsPhoneNumber.length; i++) {
                tsPhoneNumber[i].textContent = "+1 949-561-1770";
                tsPhoneLink[i].href = "tel:+1 949-561-1770";
              }
            } else if (
              timezone.startsWith("Australia") ||
              timezone.startsWith("NZ") ||
              timezone.endsWith("Auckland") ||
              timezone.endsWith("Chatham")) {
              for (i = 0; i < tsPhoneNumber.length; i++) {
                tsPhoneNumber[i].textContent = "+61 2 7202 6903";
                tsPhoneLink[i].href = "tel:+61 2 7202 6903";
              }
            } else if (
              timezone.endsWith("Kolkata") ||
              timezone.endsWith("Calcutta") ||
              timezone.endsWith("Colombo") ||
              timezone.endsWith("Dhaka") ||
              timezone.endsWith("Dacca") ||
              timezone.endsWith("Kathmandu") ||
              timezone.endsWith("Katmandu") ||
              timezone.endsWith("Thimphu") ||
              timezone.endsWith("Thimbu") ||
              timezone.endsWith("Karachi")) {
              for (i = 0; i < tsPhoneNumber.length; i++) {
                tsPhoneNumber[i].textContent = "+91 80 6932 8966";
                tsPhoneLink[i].href = "tel:+91 80 6932 8966";
              }
            } else if (
              timezone.startsWith("Africa") &&
              !timezone.endsWith("Johannesburg") &&
              !timezone.endsWith("Tripoli") &&
              !timezone.endsWith("Khartoum") &&
              !timezone.endsWith("Cairo")) {
              for (i = 0; i < tsPhoneNumber.length; i++) {
                tsPhoneNumber[i].textContent = "+229 62 50 09 81";
                tsPhoneLink[i].href = "tel:+229 62 50 09 81";
              }
            } else {
              for (i = 1; i < tsPhoneNumber.length; i++) {
                tsPhoneLink[i].style.display = "none";
              }
              tsPhoneLink[0].style.visibility = "hidden";
              tsYesPhone[0].style.display = "none";
              tsNoPhone[0].style.display = "block";
            }
          </script>
      </div>
      <div class="small-print-wrapper">
        <a rel="nofollow" href="https://tsplus.net/terms-of-use/" class="link subfooter">Terms of use</a>
        <div class="text-block">-</div>
        <a rel="nofollow" href="https://tsplus.net/privacy-policy/" class="link subfooter">Privacy policy</a>
      </div>
    </div>
</footer>