<style>
    .elementor-icon-list-item svg{
        fill: rgb(255, 156, 75);
    }
</style>
<div style="color : #6B7280" class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-684712c4" data-id="684712c4" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-65825dd9 elementor-blockquote--skin-border elementor-blockquote--button-color-official elementor-widget elementor-widget-blockquote" data-id="65825dd9" data-element_type="widget" data-widget_type="blockquote.default">
        <div class="elementor-widget-container">
            <blockquote class="elementor-blockquote">
    <p class="elementor-blockquote__content">
        Discover TSplus			</p>
            </blockquote>
        </div>
        </div>
        <div class="elementor-element elementor-element-6c3d71d5 elementor-widget elementor-widget-text-editor" data-id="6c3d71d5" data-element_type="widget" data-widget_type="text-editor.default">
        <div class="elementor-widget-container">
                    Simple, Robust and Affordable Remote Access Solutions for IT professionals.						</div>
        </div>
        <div class="elementor-element elementor-element-19d1aefa elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="19d1aefa" data-element_type="widget" data-widget_type="icon-list.default">
        <div class="elementor-widget-container">
            <ul class="elementor-icon-list-items">
                    <li class="elementor-icon-list-item">
                                    <span class="elementor-icon-list-icon">
                    <svg aria-hidden="true" class="e-font-icon-svg e-fas-circle" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"></path></svg>						</span>
                                <span  class="elementor-icon-list-text">TSplus Remote Access</span>
                            </li>
                        <li class="elementor-icon-list-item">
                                    <span class="elementor-icon-list-icon">
                    <svg aria-hidden="true" class="e-font-icon-svg e-fas-circle" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"></path></svg>						</span>
                                <span class="elementor-icon-list-text">TSplus Remote Support</span>
                            </li>
                        <li class="elementor-icon-list-item">
                                    <span class="elementor-icon-list-icon">
                    <svg aria-hidden="true" class="e-font-icon-svg e-fas-circle" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"></path></svg>						</span>
                                <span class="elementor-icon-list-text">TSplus Advanced Security</span>
                            </li>
                        <li class="elementor-icon-list-item">
                                    <span class="elementor-icon-list-icon">
                    <svg aria-hidden="true" class="e-font-icon-svg e-fas-circle" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"></path></svg>						</span>
                                <span class="elementor-icon-list-text">TSplus Server Monitoring</span>
                            </li>
                </ul>
        </div>
        </div>
        <div class="elementor-element elementor-element-34f53d49 elementor-align-left elementor-widget__width-auto elementor-widget elementor-widget-button" data-id="34f53d49" data-element_type="widget" data-widget_type="button.default">
        <div class="elementor-widget-container">
            <div class="elementor-button-wrapper">
    <a class="elementor-button elementor-button-link elementor-size-sm elementor-animation-grow" href="https://tsplus.net/download/">
                <span class="elementor-button-content-wrapper">
                <span class="elementor-button-text">Download a trial</span>
</span>
            </a>
</div>
        </div>
        </div>
        <div class="elementor-element elementor-element-a2ff80b elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="a2ff80b" data-element_type="widget" data-widget_type="divider.default">
        <div class="elementor-widget-container">
            <div class="elementor-divider">
    <span class="elementor-divider-separator">
                </span>
</div>
        </div>
        </div>
        <div class="elementor-element elementor-element-36d532eb elementor-blockquote--skin-border elementor-blockquote--button-color-official elementor-widget elementor-widget-blockquote" data-id="36d532eb" data-element_type="widget" data-widget_type="blockquote.default">
        <div class="elementor-widget-container">
            <blockquote class="elementor-blockquote">
    <p class="elementor-blockquote__content">
        Need to speak to sales?			</p>
            </blockquote>
        </div>
        </div>
        <div class="elementor-element elementor-element-e04b0de elementor-widget elementor-widget-text-editor" data-id="e04b0de" data-element_type="widget" data-widget_type="text-editor.default">
        <div class="elementor-widget-container">
                    Contact our regional sales team to get assistance.						</div>
        </div>
        <div class="elementor-element elementor-element-d54309b elementor-widget elementor-widget-image" data-id="d54309b" data-element_type="widget" data-widget_type="image.default">
        <div class="elementor-widget-container">
                                                    <img decoding="async" loading="lazy" width="1600" height="1067" src="https://tsplus.net/wp-content/uploads/2022/06/Contact-the-TSplus-Team.jpg" class="attachment-full size-full wp-image-22385" alt="TSplus Global Team" srcset="https://tsplus.net/wp-content/uploads/2022/06/Contact-the-TSplus-Team.jpg 1600w, https://tsplus.net/wp-content/uploads/2022/06/Contact-the-TSplus-Team-300x200.jpg 300w, https://tsplus.net/wp-content/uploads/2022/06/Contact-the-TSplus-Team-1024x683.jpg 1024w, https://tsplus.net/wp-content/uploads/2022/06/Contact-the-TSplus-Team-768x512.jpg 768w, https://tsplus.net/wp-content/uploads/2022/06/Contact-the-TSplus-Team-1536x1024.jpg 1536w, https://tsplus.net/wp-content/uploads/2022/06/Contact-the-TSplus-Team-18x12.jpg 18w" sizes="(max-width: 1600px) 100vw, 1600px">															</div>
        </div>
        <div class="elementor-element elementor-element-c741281 elementor-align-left elementor-widget__width-auto elementor-widget elementor-widget-button" data-id="c741281" data-element_type="widget" data-widget_type="button.default">
        <div class="elementor-widget-container">
            <div class="elementor-button-wrapper">
    <a class="elementor-button elementor-button-link elementor-size-sm elementor-animation-grow" href="https://tsplus.net/contact/">
                <span class="elementor-button-content-wrapper">
                <span class="elementor-button-text">Contact sales</span>
</span>
            </a>
</div>
        </div>
        </div>
        <div class="elementor-element elementor-element-2e9f7ef elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="2e9f7ef" data-element_type="widget" data-widget_type="divider.default">
        <div class="elementor-widget-container">
            <div class="elementor-divider">
    <span class="elementor-divider-separator">
                </span>
</div>
        </div>
        </div>
        <div class="elementor-element elementor-element-c2fedfd elementor-blockquote--skin-border elementor-blockquote--button-color-official elementor-widget elementor-widget-blockquote" data-id="c2fedfd" data-element_type="widget" data-widget_type="blockquote.default">
        <div class="elementor-widget-container">
            <blockquote class="elementor-blockquote">
    <p class="elementor-blockquote__content">
        Join over 500,000 companies			</p>
            </blockquote>
        </div>
        </div>
        <div class="elementor-element elementor-element-160791f elementor-widget elementor-widget-text-editor" data-id="160791f" data-element_type="widget" data-widget_type="text-editor.default">
        <div class="elementor-widget-container">
                    We are rated <span style="color: #FF9C4B;"><b>Excellent</b></span>						</div>
        </div>
        <div class="elementor-element elementor-element-c7749ed elementor-widget__width-initial elementor-widget-mobile__width-inherit elementor-widget elementor-widget-image" data-id="c7749ed" data-element_type="widget" data-widget_type="image.default">
        <div class="elementor-widget-container">
                                                    <img decoding="async" loading="lazy" width="346" height="58" src="https://tsplus.net/wp-content/uploads/2021/10/five-stars-icon.svg" class="attachment-large size-large wp-image-11492" alt="five stars green icon">															</div>
        </div>
        <div class="elementor-element elementor-element-9d7e1bc elementor-widget elementor-widget-text-editor" data-id="9d7e1bc" data-element_type="widget" data-widget_type="text-editor.default">
        <div class="elementor-widget-container">
                    4.8 out of 5						</div>
        </div>
            </div>
</div>